* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  margin: 0;
  color: $primary-text-color;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h1, h2, h3 {
  font-weight: 400;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $link-color;
  font-weight: 600;
  &[data-visited]:after {
    content: ' (Seen)';
    color: #e2e2e2;
    font-weight: 300;
    font-size: 0.8em;
  }
}


// Code blocks:
pre {
  background-color: #1d1f20;
  color: $primary-color-text;
  padding: 0;
  word-break: normal;
  position: relative;
  code {
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    font-size: 14px;
    background: none;
    padding: 15px;
    white-space: pre;
    overflow: auto;
    display: block;
  }
}

// Inline code:
code {}

strong {
  font-weight: 700;
}

blockquote {}

ul {}
ol {}
li {}