// Frontpage list of posts.
.blog .post {
  margin-bottom: 50px;
  padding-bottom: 50px;
  position: relative;
  &:after {
    border-bottom: 1px solid #e5e5e5;
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
  }
  &:last-child {
    margin-bottom: 0;
    &:after {
      border-bottom: none;
    }
  }
  p {
    margin-bottom: 0;
  }
}

.post {
  margin-bottom: 100px;
  &__title {
    font-size: 28px;
    margin-bottom: 5px;
    margin-top: 4px;
    font-weight: 300;
    color: #333;
    a {
      color: inherit;
      font-weight: inherit;
    }
  }
  &__meta {
    color: $secondary-text-color;
    font-size: 16px;
    a {
      color: inherit;
      font-weight: 400;
    }
    .byline {
      display: none;
    }
  }
  &--regular {
    
  }
  &--image {
    padding: 0 !important;
    position: relative;
    header {
      position: absolute;
      bottom: 20%;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.32);
      text-align: center;
      padding-bottom: 20px;
      padding-top: 20px;
      color: $primary-color-text;
      transition: all 200ms ease;
    }
    &:hover {
      header {
        transform: translateY(100px);
        opacity: 0;
      }
    }
  }
  &__body {
    padding-bottom: 10px;
  }
  &__more {
    display: block;
    margin-top: 10px;
    font-size: 0.8em;   
  }
}
